.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}
body {
  background-color: coral;
}
h1 {
  text-align: center;
  text-shadow: 8px 8px 10px rgb(51, 255, 0);
}
h2 {
  text-align: center;
}
img {
  border: 3px solid black;
  margin: 2px;
}
/* button {
  margin-left: 185px;
  font-family: lemon milk;
} */
button {
  margin-left: 180px;
  font-family: lemon milk;
  display: inline-block;
  padding: 5px 20px;
  font-size: 11px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
